.App {
  position: relative;
  min-height: 100vh;
  background-color: #e2e2e2;
}

.tra_anim {
  transition: all 0.3s;
}

.contact_us__background {
  background-image: url(images/contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave_parent {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.blue_wave {
  height: 60vh;
  background-color: #0099ff;
}

.wide_bottom_space {
  margin-bottom: 20vh !important;
}

.app_footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
}
